<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="Denmark" connectionString="Data Source=db-nosedkfiza.hugintechnologies.com;Initial Catalog=Denmark;Persist Security Info=True;User ID=rubrikkadmin@h9o0tfu6g8;Password=ueoBzUGP&amp;U2u"
        providerName="System.Data.SqlClient" />
    <add name="Norway" connectionString="Data Source=db-nosedkfiza.hugintechnologies.com;Initial Catalog=Norway;Persist Security Info=True;User ID=rubrikkadmin@h9o0tfu6g8;Password=ueoBzUGP&amp;U2u"
        providerName="System.Data.SqlClient" />
    <add name="Sweden" connectionString="Data Source=db-nosedkfiza.hugintechnologies.com;Initial Catalog=Sweden;Persist Security Info=True;User ID=rubrikkadmin@h9o0tfu6g8;Password=ueoBzUGP&amp;U2u"
        providerName="System.Data.SqlClient" />
    <add name="Finland" connectionString="Data Source=db-nosedkfiza.hugintechnologies.com;Initial Catalog=Finland;Persist Security Info=True;User ID=rubrikkadmin@h9o0tfu6g8;Password=ueoBzUGP&amp;U2u"
        providerName="System.Data.SqlClient" />
    <add name="SouthAfrica" connectionString="Data Source=db-nosedkfiza.hugintechnologies.com;Initial Catalog=SouthAfrica;Persist Security Info=True;User ID=rubrikkadmin@h9o0tfu6g8;Password=ueoBzUGP&amp;U2u"
        providerName="System.Data.SqlClient" />
    <add name="Germany" connectionString="Data Source=db-de.hugintechnologies.com;Initial Catalog=Germany;Persist Security Info=True;User ID=rubrikkadmin@mpl8x702z9;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Australia" connectionString="Data Source=db-au.hugintechnologies.com;Initial Catalog=Australia;Persist Security Info=True;User ID=rubrikkadmin@ksjpmliqt4;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Vietnam" connectionString="Data Source=db-vn.hugintechnologies.com;Initial Catalog=Vietnam;Persist Security Info=True;User ID=rubrikkadmin@keudaklyfu;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Bangladesh" connectionString="Data Source=db-bd.hugintechnologies.com;Initial Catalog=Bangladesh;Persist Security Info=True;User ID=rubrikkadmin@gwxzwgqfxt;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Italy" connectionString="Data Source=db-it.hugintechnologies.com;Initial Catalog=Italy;Persist Security Info=True;User ID=rubrikkadmin@v1c1hu0aph;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Switzerland" connectionString="Data Source=db-ch.hugintechnologies.com;Initial Catalog=Switzerland;Persist Security Info=True;User ID=rubrikkadmin@rwxcvol9ir;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Kenya" connectionString="Data Source=db-ke.hugintechnologies.com;Initial Catalog=Kenya;Persist Security Info=True;User ID=rubrikkadmin@aie9prt7ll;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Brazil" connectionString="Data Source=db-br.hugintechnologies.com;Initial Catalog=Brazil;Persist Security Info=True;User ID=rubrikkadmin@f1oh4giyyx;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Spain" connectionString="Data Source=db-es.hugintechnologies.com;Initial Catalog=Spain;Persist Security Info=True;User ID=rubrikkadmin@kugxiothm9;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Mexico" connectionString="Data Source=db-mx.hugintechnologies.com;Initial Catalog=Mexico;Persist Security Info=True;User ID=rubrikkadmin@burvgyjhhm;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Austria" connectionString="Data Source=db-at.hugintechnologies.com;Initial Catalog=Austria;Persist Security Info=True;User ID=rubrikkadmin@ltwdd6oovi;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Argentina" connectionString="Data Source=db-ar.hugintechnologies.com;Initial Catalog=Argentina;Persist Security Info=True;User ID=rubrikkadmin@p9aq8xgvcc;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="France" connectionString="Data Source=db-fr.hugintechnologies.com;Initial Catalog=France;Persist Security Info=True;User ID=rubrikkadmin@ftv8jg8dd4;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Colombia" connectionString="Data Source=db-co.hugintechnologies.com;Initial Catalog=Colombia;Persist Security Info=True;User ID=rubrikkadmin@h8ej5gxyx0;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Turkey" connectionString="Data Source=db-tr.hugintechnologies.com;Initial Catalog=Turkey;Persist Security Info=True;User ID=rubrikkadmin@txqkrxhb87;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Chile" connectionString="Data Source=db-cl.hugintechnologies.com;Initial Catalog=Chile;Persist Security Info=True;User ID=rubrikkadmin@d08bmbksqq;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Canada" connectionString="Data Source=db-ca.hugintechnologies.com;Initial Catalog=Canada;Persist Security Info=True;User ID=rubrikkadmin@sq2eaxbdss;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="Romania" connectionString="Data Source=db-ro.hugintechnologies.com;Initial Catalog=Romania;Persist Security Info=True;User ID=rubrikkadmin@rubro;Password=q4hi0Awi"
        providerName="System.Data.SqlClient" />
    <add name="UK" connectionString="Data Source=db-uk.hugintechnologies.com;Initial Catalog=UK;Persist Security Info=True;User ID=rubrikkadmin@dkcw7an47l;Password=q4hi0Awi" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1"/>
      <httpRuntime targetFramework="4.6.1"/>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>
  <system.web>
    <customErrors mode="On" defaultRedirect="/Errors/404.htm" redirectMode="ResponseRewrite" />
  </system.web>

  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/Errors/404.htm" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>

