body, div, p, ul, li {
    padding: 0;
    margin: 0;
}

body {
    background: #e6e6e6;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
}

.navigation_first_item {
    border-left:0;
    border-radius: 5px 0 0 5px;
}

.wrapper {
    padding-top:10px;
    width: 75%;
    margin: auto;
    
}

.content {
    width: 90%;
    background-color: rgb(254,254,254);
    border: 1px solid rgb(224,224,224);
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-bottom: 8px;
    min-height: 400px;
    padding: 5%;

}

.menu {
    background-color: #000000;
    /*background-color: rgb(10,110,178);*/
    width: 100%;
    padding: 0;
    height: 40px;
    color: rgb(243,243,243);
    border-radius: 5px 5px 5px 5px;
}


    .menu ul li {
        float: left;
        display: block;
        list-style: none;
        border-right: 1px solid #ffffff;
        /*border-right: 1px solid rgb(10,85,125);
        border-left: 1px solid rgb(67,153,200);*/
    }

.menu ul li a {
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
    padding: 8px 20px;
    color: rgb(255,255,255);
    text-decoration: none;
}

        .menu ul li:hover {
            background-color: #424242;
            /*background-color: rgb(14,79,114);
            border-right: 1px solid rgb(14,89,130);*/
        }

.clear {
    clear: both;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img {
    max-height: 50px;
}